<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DismissKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8692F29F1EBCC18D0077D1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8692F2B31EBCC18D0077D1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8692F2BE1EBCC18E0077D1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
